*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-mian{
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.header-mian__catalog{
    display: inline-block;
}

.header-main__search-bar{
    display: inline-block;
}