*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    font-family: "Lato", sans-serif;
}

.pokemon-app{
    max-width: 1200px;
    margin: 0 auto;
}

.header-main{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.header-mian__catalog{
    display: inline-block;
}

.header-main__search-bar{
    display: inline-block;
}

.section-main{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.section-main__card{
    width: 250px;
}
.card__header{
    display: flex;
    justify-content: space-between;
    line-height: 24px;
}

.card__name{
    font-size: 24px;
}

.card__image{
    width: 250px;
}

.card--bold{
    font-weight: 700;
}

.footer-main__load-button{
  display: block;
  margin: 5rem auto;
  height: 5rem;
  width: 20rem;
  font-size: 24px;
  border: none;
}




.footer-main__loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .footer-main__loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: blue;
    animation: footer-main__loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .footer-main__loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .footer-main__loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .footer-main__loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes footer-main__loader {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
