*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    font-family: "Lato", sans-serif;
}

.pokemon-app{
    max-width: 1200px;
    margin: 0 auto;
}

.pokemon-app__section{
  padding-top: 20px;
}

.header-main{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.header-mian__catalog{
    display: inline-block;
}

.header-main__search-bar{
    display: flex;
    flex-direction: column;
}

.header-main__searching{
  border: none;
  width: 300px;
  font-size: 20px;
  border-bottom: 3px solid red;
  font-family: inherit;
}

.header-main__searching::placeholder{
  color: #000;
  padding-left: 20px;
}

.header-main__searching:focus{
  outline: none;
  border-bottom: 3px solid yellow;
}

.header-main__search-label{
  padding-left: 20px;
  margin-top: 5px;
  font-size: 20px;
  width: 300px;
}

.header-main__searching:placeholder-shown + .header-main__search-label{
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);

}

.section-main{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.section-main__card{
    width: 250px;
    margin: 0 auto;
}
.card__header{
    display: flex;
    justify-content: space-between;
    line-height: 24px;
}

.card__name{
    font-size: 24px;
}

.card__image{
    width: 250px;
}

.card--bold{
    font-weight: 700;
}

.footer-main__load-button{
  display: block;
  margin: 5rem auto;
  height: 5rem;
  width: 20rem;
  font-size: 24px;
  border: 5px solid;
  cursor: pointer;
}

.footer-main__load-button:hover{
  color: white;
  background-color: black;
  border: 5px solid black;
}

.footer-main__loader {
    display: block;
    position: relative;
    width: 80px;
    height: 5rem;
    margin: 5rem auto;
  }
  .footer-main__loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #000;
    animation: footer-main__loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .footer-main__loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .footer-main__loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .footer-main__loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes footer-main__loader {
    0% {
      top: 8px;
      height: 5rem;
    }
    50%, 100% {
      top: 24px;
      height: 3rem;
    }
  }

.hidden{
    display: none;
    background-color: green;
  }