*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pokemon-app{
    width: 1200px;
    display: flex;
    align-self: center;
    background-color: blue;
}

.header-main{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header-mian__catalog{
    display: inline-block;
}

.header-main__search-bar{
    display: inline-block;
}