*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    margin: auto;
}

.pokemon-app{
    width: 1200px;
}

.header-main{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.header-mian__catalog{
    display: inline-block;
}

.header-main__search-bar{
    display: inline-block;
}